@import "myStyles";

* {
  font-family: "Orbitron", sans-serif;
  color: #7f8b97;
}

.app {
  position: relative;
  min-height: 100vh;
  background-color: $background;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;

  h1 {
    @include reset();
    font-size: 2rem;
    font-weight: 400;
  }
}

.toolbar {
  @include flex-center(center);

  div {
    display: flex;
    gap: 0.3rem;
  }

  .button-text {
    background: radial-gradient(
      57.63% 57.63% at 45% 26%,
      rgba(84, 86, 89, 0.5) 0%,
      rgba(35, 38, 41, 0.5) 100%
    );
    border: 1px solid var($lin-1, rgba(0, 0, 0, 0.45));
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 0.5rem;
  }
}

.svgs {
  stroke-width: 1px;
  width: 20px;
  height: auto;
}

.toolbar-button {
  @include reset();
  border-radius: 9999px;
  background: radial-gradient(
    57.63% 57.63% at 45% 26%,
    rgba(84, 86, 89, 0.5) 0%,
    rgba(35, 38, 41, 0.5) 100%
  );
  border: 1px solid #1f2224;

  &.svg {
    width: 40px;
    height: 40px;
  }

  p {
    @include reset();
    font-size: 0.5rem;
    padding: 0 0.5rem;
  }
}

.button-svg {
  background: radial-gradient(
    57.63% 57.63% at 45% 26%,
    rgba(84, 86, 89, 0.5) 0%,
    rgba(35, 38, 41, 0.5) 100%
  );
  border: 1px solid var($lin-1, rgba(0, 0, 0, 0.45));
  border-radius: 100px;
  font-size: 14px;
  color: #7f8b97;
}

.grid {
  @include flex-center(center);
  flex-direction: column;
  background: $background;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 2rem 0;
  .board-row {
    @include flex-center(center);
  }
}

.modal {
  position: relative;
  z-index: 50;

  :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    inset: 0px;
    width: 100vw;
  }
}

.dialog-panel {
  max-width: 32rem;
  margin-top: 1rem;
  border-width: 1px;
  background: white;
  padding: 3rem;
}

.node {
  background: #303438;
  border: 1px solid #191b1d;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  &.wall {
    background: #1f2224;
  }
  &.start {
    background: #0c86ff;
  }

  &.goal {
    background: #ff9a34;
  }

  &.traversed {
    background: #3f5462;
    animation-name: traversed;
    animation-duration: 0.2s;
  }

  &.shortest-path {
    background: #3f5462;
    animation-name: shortestPath;
    animation-duration: 1.5s;
  }
}

@include for-phone-only() {
  .header {
    h1 {
      font-size: 1.5rem;
    }

    .logo {
      display: none;
    }
  }

  .node {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}

@include for-tablet-portrait-up() {
  .header {
    h1 {
      font-size: 2rem;
    }
  }
}

@keyframes shortestPath {
  0% {
    background-color: $primary;
  }
  50% {
    background-color: rgb(89, 154, 189);
    border-radius: 3px;
  }
  100% {
    background-color: $primary;
  }
}

@keyframes traversed {
  0% {
    background-color: $info;
  }
  50% {
    background-color: rgb(83, 112, 67);
  }
  100% {
    background-color: $info;
  }
}
