$primary: rgb(168, 208, 230);
$accent: rgb(247, 108, 108);
$info: rgb(248, 233, 161);
$light-dark: rgb(55, 71, 133);
$dark: rgb(36, 48, 94);
$light: rgb(247, 249, 251);
$title-font: 'Montserrat', sans-serif;
$subtitle-font: "Fira Sans", sans-serif;
$text-font: "Fira Code", monospace;

@mixin flex-center($var){
    display: flex;
    align-items: center;
    justify-content: $var;
}

@mixin reset{
    margin: 0;
    padding: 0;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@keyframes shortestPath {
    0%{background-color: $primary;}   
    50%{background-color: $light-dark;}   
    100%{background-color: $primary;} 
}

::selection {
    color: none;
    background: none;
}

.app {
    position: relative;
    min-height: 100vh;
}

.navbar{
    background-color: $dark;
}

.toolbar {
    @include flex-center(space-evenly);
    font-family: $text-font;
    background-color: $primary;
    height: 4rem;
    
}
.btn-primary{
    @include flex-center(center);
    border-radius: 8px;
    color: $light-dark;
    background-color: $light !important;
    border-color: $dark;
    margin: 5px;
    font-weight: 600;
    font-size: .6rem;
    border-width: 2px;
    text-transform: none;
    &.btn-sm{
        padding: 11px 20px;
    }
    &:hover{
        background-color: $accent !important;
        color: $light  !important;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus{
        background-color: $light-dark;
        border-color: $dark;
        color: $dark;
    }
    &.dropdown-toggle{
       font-size: .6rem;
        font-weight: 500;
        color: $dark; 
        // height: 60%;
        background-color: $light !important;
        &:hover{
            background-color: $accent !important;
        }
    }
}

.logo-name {
    display: inline;
}

.board-row{
    @include flex-center(center);
}

.grid{
    @include flex-center(center);
    flex-direction: column;
    background-image: url("../assets/Artboard\ 7.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-top: 5%;
    padding-bottom: 8%;
}

@include for-desktop-up(){
    .grid{

        background-image: url("../assets/xlaptop.svg");
    }
    
}

.container2{
    background-image: url("../assets/comingSoon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    background-color: rgb(237,220,195);
    @include reset();
}

@include for-phone-only(){
    .btn.btn-primary{
        &.btn-sm {
            padding-left: 10px;
            padding-right: 10px;
            height: 60%;
        }

    }
        
   .grid{
       background-image: url("../assets/mobile.svg");
   }
   .container2{
       background-image: url("../assets/comingSoonIphone.svg");
   }
}

.node {
  background: $light;
  border: 1px solid grey;
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 30px;

  &.wall{
    background-color: $dark;
  }
  &.start {
      background-color: $accent;
  }
  
  &.goal {
      background-color: #b37c36;
  }
  
  &.traversed {
      background-color: $info;
  }
  
  &.shortest-path{
      background-color: $primary;
      animation-name: shortestPath;
      animation-duration: 1s;
  }

}

.board-row::after {
  clear: both;
  content: "";
  display: grid;
}


.footer {
    @include flex-center(space-evenly);
    font-family: $text-font;
    background-color: #24305e;
    color: #fff;
    height: 3rem;
    p{
        @include reset();
    }
}