@import "myStyles";

.app {
    position: relative;
    height: 100vh;
}
@keyframes shortestPath {
    0%{background-color: $primary;}   
    50%{background-color: rgb(169, 198, 214);
    border-radius: 3px;
    opacity: 80%;}   
    100%{background-color: $primary;} 
}
@keyframes traversed {
    0%{background-color: $info;}   
    50%{background-color: rgb(83, 112, 67);}   
    100%{background-color: $info;} 
}

.navbar{
    background-color: $dark;
    &-nav{
        .nav-link:hover{
            color: $light !important;
        }
    }
}

.toolbar {
    @include flex-center(space-evenly);
    font-family: $text-font;
    background-color: $primary;
    height: 4rem;
}

.btn-primary{
    @include flex-center(center);
    border-radius: 8px;
    color: $light-dark;
    background-color: $light !important;
    border-color: $dark;
    margin: 5px;
    font-weight: 600;
    font-size: .6rem;
    border-width: 2px;
    text-transform: none;
    &.btn-sm{
        padding: 11px 20px;
    }
    &:hover{
        background-color: $accent !important;
        color: $light  !important;
        border-color: black;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus{
        background-color: $light-dark !important;
        color: $light;
    }
    &.dropdown-toggle{
       font-size: .6rem;
        font-weight: 500;
        color: $dark; 
        background-color: $light !important;
        &:hover{
            background-color: $accent !important;
        }
    }
}

.grid{
    @include flex-center(center);
    flex-direction: column;
    background-image: url("../assets/Artboard\ 7.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-top: 5%;
    padding-bottom: 8%;
    .board-row{
        @include flex-center(center);
    }
}

.container2{
    background-image: url("../assets/comingSoon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    background-color: rgb(237,220,195);
    @include reset();
}

.node {
  background: $light;
  border: 1px solid grey;
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 30px;

//   &:hover{
//     // opacity: 50%;
//   }

  &.wall{
    background-color: $dark;
  }
  &.start {
      background-color: $accent;
  }
  
  &.goal {
      background-color: #b37c36;
  }
  
  &.traversed {
      background-color: $info;
      animation-name: traversed;
      animation-duration: .2s;
  }
  
  &.shortest-path{
      background-color: $primary;
      animation-name: shortestPath;
      animation-duration: 1.5s;
  }

}

.footer {
    @include flex-center(space-evenly);
    font-family: $text-font;
    background-color: #24305e;
    color: #fff;
    height: 3rem;
    p{
        @include reset();
    }
}

@include for-phone-only(){
    .btn.btn-primary{
        &.btn-sm {
            padding-left: 10px;
            padding-right: 10px;
            height: 60%;
        }

    }
        
   .grid{
       background-image: url("../assets/mobile.svg");
   }
   .container2{
       background-image: url("../assets/comingSoonIphone.svg");
   }
}

@include for-big-desktop-up(){
    .grid{

        background-image: url("../assets/xlaptop.svg");
    }
}