::-moz-selection {
  color: none;
  background: none;
}

::selection {
  color: none;
  background: none;
}

.app {
  position: relative;
  min-height: 100vh;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #374785;
  background-color: #f7f9fb;
  border-color: #24305e;
  margin: 5px;
  font-weight: 600;
  font-size: .6rem;
  border-width: 2px;
  height: 60%;
}

.btn-primary:hover {
  background-color: #f76c6c;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):focus {
  background-color: #374785;
  border-color: #24305e;
  color: #f7f9fb;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f7f9fb;
  background-color: #24305e;
  height: 4rem;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.header a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #f7f9fb;
}

.header a:hover {
  color: #f76c6c;
  font-size: 1.05rem;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Fira Code", monospace;
  background-color: #a8d0e6;
  height: 3rem;
}

.toolbar .dropdown-item {
  font-size: .6rem;
  font-weight: 500;
  color: #24305e;
}

.logo-name {
  display: inline;
}

.grid {
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://www.figma.com/file/eR8nsi29ehFcBSSo8h6BOv/Untitled?node-id=101%3A2");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.node {
  background: #f7f9fb;
  border: 1px solid grey;
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 30px;
}

.wall {
  background-color: #24305e;
}

.start {
  background-color: #f76c6c;
}

.goal {
  background-color: #b37c36;
}

.traversed {
  background-color: #f8e9a1;
}

.shortest-path {
  background-color: #a8d0e6;
  -webkit-animation-name: shortestPath;
          animation-name: shortestPath;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes shortestPath {
  /* 0%{background-color: rgb(243, 186, 195);}   
    50%{background-color: rgb(236, 197, 215);}   
    100%{background-color: rgb(243, 186, 195);}    */
}

@keyframes shortestPath {
  /* 0%{background-color: rgb(243, 186, 195);}   
    50%{background-color: rgb(236, 197, 215);}   
    100%{background-color: rgb(243, 186, 195);}    */
}

.board-row::after {
  clear: both;
  content: "";
  display: -ms-grid;
  display: grid;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Fira Code", monospace;
  background-color: #24305e;
  color: #fff;
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

.footer p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */