.app {
  position: relative;
  height: 100vh;
}

@-webkit-keyframes shortestPath {
  0% {
    background-color: #a8d0e6;
  }
  50% {
    background-color: #599abd;
    border-radius: 3px;
  }
  100% {
    background-color: #a8d0e6;
  }
}

@keyframes shortestPath {
  0% {
    background-color: #a8d0e6;
  }
  50% {
    background-color: #599abd;
    border-radius: 3px;
  }
  100% {
    background-color: #a8d0e6;
  }
}

@-webkit-keyframes traversed {
  0% {
    background-color: #f8e9a1;
  }
  50% {
    background-color: #537043;
  }
  100% {
    background-color: #f8e9a1;
  }
}

@keyframes traversed {
  0% {
    background-color: #f8e9a1;
  }
  50% {
    background-color: #537043;
  }
  100% {
    background-color: #f8e9a1;
  }
}

.navbar {
  background-color: #24305e;
}

.navbar-nav .nav-link:hover {
  color: #f7f9fb !important;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Fira Code", monospace;
  background-color: #a8d0e6;
  height: 4rem;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  color: #374785;
  background-color: #f7f9fb !important;
  border-color: #24305e;
  margin: 5px;
  font-weight: 600;
  font-size: .6rem;
  border-width: 2px;
  text-transform: none;
}

.btn-primary.btn-sm {
  padding: 11px 20px;
}

.btn-primary:hover {
  background-color: #f76c6c !important;
  color: #f7f9fb !important;
  border-color: black;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):focus {
  background-color: #374785 !important;
  color: #f7f9fb;
}

.btn-primary.dropdown-toggle {
  font-size: .6rem;
  font-weight: 500;
  color: #24305e;
  background-color: #f7f9fb !important;
}

.btn-primary.dropdown-toggle:hover {
  background-color: #f76c6c !important;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/Artboard 7.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-top: 5%;
  padding-bottom: 8%;
}

.grid .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container2 {
  background-image: url("../assets/comingSoon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
  background-color: #eddcc3;
  margin: 0;
  padding: 0;
}

.node {
  background: #f7f9fb;
  border: 1px solid grey;
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 30px;
}

.node.wall {
  background-color: #24305e;
}

.node.start {
  background-color: #f76c6c;
}

.node.goal {
  background-color: #b37c36;
}

.node.traversed {
  background-color: #f8e9a1;
  -webkit-animation-name: traversed;
          animation-name: traversed;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.node.shortest-path {
  background-color: #a8d0e6;
  -webkit-animation-name: shortestPath;
          animation-name: shortestPath;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Fira Code", monospace;
  background-color: #24305e;
  color: #fff;
  height: 3rem;
}

.footer p {
  margin: 0;
  padding: 0;
}

@media (max-width: 599px) {
  .btn.btn-primary.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
    height: 60%;
  }
  .grid {
    background-image: url("../assets/mobile.svg");
  }
  .container2 {
    background-image: url("../assets/comingSoonIphone.svg");
  }
}

@media (min-width: 1800px) {
  .grid {
    background-image: url("../assets/xlaptop.svg");
  }
}
/*# sourceMappingURL=App.css.map */