.open-button {
  padding: 10px 20px;
  background-color: #3490dc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.open-button:hover {
  background-color: #2779bd;
}

.open-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  border-radius: 12px;
  border: 1px solid rgba(199, 199, 199, 0.45);
  background: #1f2224;
  padding: 10px 20px 20px 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 20px;
}

.dialog-main {
  padding: 2rem 0;
}

.x-wrapper {
  text-align: right;
}

.dialog-title {
  font-size: smaller;
  font-family: $modal-font;
  font-weight: 300;
  margin-bottom: 15px;
}

.dialog-content {
  font-family: $modal-font;
  margin-bottom: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.skip-button {
  font-family: $modal-font;
  color: #8b8b8b;
  padding: 0;
  border: none;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: none;
}

.close-button {
  font-family: $modal-font;
  padding: 3px 12px;
  color: #1f2224;
  border: none;
  border-radius: 5px;
  background: #0477eb;
  cursor: pointer;
  font-size: 12px;
}

.close-button:hover {
  background-color: #cbd5e0;
}

.close-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(226, 232, 240, 0.5);
}

.tippy-box[data-theme~="light"] {
  background-color: white;
  color: #1f2937;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
}

.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: white;
}

.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: white;
}

.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: white;
}

.tippy-box[data-theme~="light"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: white;
}
